:root {
    --bg-color: #01082b;

    --building-color: black;

    --window-color-0: #24140e;
    --window-color-1: #86522b;
    --window-color-2: #a27f51;
    --window-color-3: #cbc08e;

    --CELL-X: 24px;
    --CELL-Y: 40px;

    --WINDOW-REL-WIDTH: 0.5;
    --WINDOW-REL-HEIGHT: 0.625;

    --HALF-X-OFFSET: calc((1 - var(--WINDOW-REL-WIDTH)) / 2);
    --HALF-Y-OFFSET: calc((1 - var(--WINDOW-REL-HEIGHT)) / 2);

    --WINDOW-X-OFFSET: calc(100% * var(--HALF-X-OFFSET) / var(--WINDOW-REL-WIDTH));
    --WINDOW-Y-OFFSET: calc(100% * var(--HALF-Y-OFFSET) / var(--WINDOW-REL-HEIGHT));
}

#timer {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
}

.fallingStar {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    animation-name: falling-star;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 5s;
    z-index: -10000;
}

@keyframes falling-star {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-2000px, 2000px);
    }
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    animation-name: twinkle;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    opacity: 0.5;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

.star.cold {
    background: #bab6de;
}

.star.warm {
    background: #ded4a0;
}

.star[data-size="1"] {
    width: 1px;
    height: 2px;
}

.star[data-size="2"] {
    width: 2px;
    height: 2px;
}

.window {
    position: absolute;
    width: calc(var(--CELL-X) * var(--WINDOW-REL-WIDTH));
    transform: translate(var(--WINDOW-X-OFFSET), var(--WINDOW-Y-OFFSET));
    height: calc(var(--CELL-Y) * var(--WINDOW-REL-HEIGHT));
}

.window.fade {
    transition: 2s;
    background: #150a0a !important;
}

.window[data-brightness="0"] {
    background: var(--window-color-0);
}

.window[data-brightness="1"] {
    background: var(--window-color-1);
}

.window[data-brightness="2"] {
    background: var(--window-color-2);
}

.window[data-brightness="3"] {
    background: var(--window-color-3);
}

.building {
    bottom: 0;
    position: absolute;
    background: var(--building-color);
}

.building::after {
    content: "";
    background: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.building[data-layer="2"]::after {
    opacity: 0.6;
}

.building[data-layer="3"]::after {
    opacity: 0.9;
}

.cloud.small {
    transform: scale(0.4);
}

.cloud.medium {
    transform: scale(0.7);
}

.cloud {
    border-radius: 75px;
    position: absolute;
    background: white;
    height: 50px;
    width: 150px;
    box-shadow: inset -8px -8px 0 0 #f7e7eb;
}

.cloud:before {
    content: "";
    background: white;
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: 25px;
    top: -25px;
}

.cloud.cloud1:before {
    left: 70px;
}

.cloud.cloud1:after {
    left: 25px;
}

.cloud:after {
    content: "";
    background: white;
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    left: 50px;
    top: -35px;
    z-index: 1;
}

body {
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body.day {
    --bg-color: #55bbe4;
    --building-color: #425664;

    --window-color-0: #4595b6;
    --window-color-1: #3faab6;
    --window-color-2: #39a5b6;
    --window-color-3: #50cbcb;
}