:root {
    --bg-color: #01082b;

    --CELL-X: 24px;
    --CELL-Y: 40px;

    --WINDOW-REL-WIDTH: 0.5;
    --WINDOW-REL-HEIGHT: 0.625;

    --WINDOW-X-OFFSET: calc(100% * (1 - var(--WINDOW-REL-WIDTH)));
    --WINDOW-Y-OFFSET: calc(100% * (1 - var(--WINDOW-REL-HEIGHT)));
}

.fallingStar {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    animation-name: falling-star;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-duration: 5s;
    z-index: -10000;
}

@keyframes falling-star {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-2000px, 2000px);
    }
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    animation-name: twinkle;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
    opacity: 0.5;
}

@keyframes twinkle {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

.star.cold {
    background: #bab6de;
}

.star.warm {
    background: #ded4a0;
}

.star[data-size="1"] {
    width: 1px;
    height: 2px;
}

.star[data-size="2"] {
    width: 2px;
    height: 2px;
}

.window {
    position: absolute;
    width: calc(var(--CELL-X) * var(--WINDOW-REL-WIDTH));
    transform: translate(var(--WINDOW-X-OFFSET), var(--WINDOW-Y-OFFSET));
    height: calc(var(--CELL-Y) * var(--WINDOW-REL-HEIGHT));
}

.window.fade {
    transition: 2s;
    background: #150a0a !important;
}

.window[data-brightness="0"] {
    background: #24140e;
}

.window[data-brightness="1"] {
    background: #86522b;
}

.window[data-brightness="2"] {
    background: #a27f51;
}

.window[data-brightness="3"] {
    background: #cbc08e;
}

.building {
    bottom: 0;
    position: absolute;
    background: black;
}

.building::after {
    content: "";
    background: var(--bg-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.building[data-layer="2"]::after {
    opacity: 0.6;
}

.building[data-layer="3"]::after {
    opacity: 0.9;
}

html, body {
    background: var(--bg-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
}